# Required dependency list (to feed edm/conda/pip). See also pip_requirements-**.txt 
# for additional dependencies and dev_requirements-**.txt for optional dependencies.
#
apptools 4.4.0-12
#app_common 0.9.2-1
cadet 2.3.2.1-5
chaco 4.7.2-3
configobj 5.0.6-2
coverage 4.3.4-1
cycler 0.10.0-1
enable 4.7.2-7
encore 0.7.0-4
futures 3.0.3-1
h5py 2.9.0-1
kiwisolver 1.0.1-1
numpy 1.15.4-2
pandas 0.23.4-1
psutil 3.3.0-2
pyface 6.0.0-3
pyside 1.2.2-15
pytables 3.5.1-1
pyyaml 3.12-1
scimath 4.2.0-1
scipy 1.1.0-1
sympy 1.0-2
traits 5.0.0-1
traitsui 6.0.0-2
